# объекты series библиотеки Pandas

In [1]:
# series это одномерный массив индексированных данных
import pandas as pd
import numpy as np

data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [2]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [3]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
data[1]

0.5

In [5]:
data[1:3]

1    0.50
2    0.75
dtype: float64

## объект series как обобщенный массив NumPy

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [7]:
data['b']

0.5

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 4, 7])

In [9]:
data

2    0.25
5    0.50
4    0.75
7    1.00
dtype: float64

In [10]:
data[4]

0.75

## объекты series как специализированный словарь

In [11]:
population_dict = {'California': 3832521,
                  'Texas': 2644893,
                  'New York': 19651127,
                  'Florida': 34932135,
                  'Illinois': 23444123}
population = pd.Series(population_dict)
population

California     3832521
Texas          2644893
New York      19651127
Florida       34932135
Illinois      23444123
dtype: int64

In [12]:
population['New York']

19651127

In [14]:
# в отличии от словаря объект Series поддерживает срезы
population['California':'New York']

California     3832521
Texas          2644893
New York      19651127
dtype: int64

## Создание объектов Series

In [15]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

# Объект DataFrame библиотеки Pandas

## DataFrame как обобщенный массив Numpy

Если объект Series аналог одномерного массива, то DataFrame аналог двумерного массива строк и столбцов.

In [17]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [ ]:
states = pd.DataFrame({'population': population, 'area': area})
state