# объекты series библиотеки Pandas

In [1]:
# series это одномерный массив индексированных данных
import pandas as pd
import numpy as np

data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [2]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [3]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
data[1]

0.5

In [5]:
data[1:3]

1    0.50
2    0.75
dtype: float64

## объект series как обобщенный массив NumPy

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [7]:
data['b']

0.5

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 4, 7])

In [9]:
data

2    0.25
5    0.50
4    0.75
7    1.00
dtype: float64

In [10]:
data[4]

0.75

## объекты series как специализированный словарь

In [21]:
population_dict = {'California': 3832521,
                  'Texas': 2644893,
                  'New York': 19651127,
                  'Florida': 34932135,
                  'Illinois': 23444123}
population = pd.Series(population_dict)
population

California     3832521
Texas          2644893
New York      19651127
Florida       34932135
Illinois      23444123
dtype: int64

In [12]:
population['New York']

19651127

In [14]:
# в отличии от словаря объект Series поддерживает срезы
population['California':'New York']

California     3832521
Texas          2644893
New York      19651127
dtype: int64

## Создание объектов Series

In [15]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

# Объект DataFrame библиотеки Pandas

## DataFrame как обобщенный массив Numpy

Если объект Series аналог одномерного массива, то DataFrame аналог двумерного массива строк и столбцов.

In [17]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [22]:
states = pd.DataFrame({'population': population, 'area': area})
states

            population    area
California     3832521  423967
Texas          2644893  695662
New York      19651127  141297
Florida       34932135  170312
Illinois      23444123  149995

In [23]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [24]:
states.columns

Index(['population', 'area'], dtype='object')

## Объект DataFrame как специализированный слварь

In [25]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [26]:
states['population']

California     3832521
Texas          2644893
New York      19651127
Florida       34932135
Illinois      23444123
Name: population, dtype: int64

## Создание объектов DataFrame

### Из одного объекта Series

In [29]:
# Объект DataFrame это набор объектов Series.DataFrame состоящих из одного столбца
pd.DataFrame(population, columns=['population'])

            population
California     3832521
Texas          2644893
New York      19651127
Florida       34932135
Illinois      23444123

### Из списка словарей

In [31]:
# любой список словарей можно преобразовать в объект DataFrame
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [36]:
data = [{'a': 1, 'b': 2}, {'b': 1, 'c': 2}]
pd.DataFrame(data)

     a  b    c
0  1.0  2  NaN
1  NaN  1  2.0

### Из словаря объектов Series

In [37]:
pd.DataFrame({'population': population, 'area': area})

            population    area
California     3832521  423967
Texas          2644893  695662
New York      19651127  141297
Florida       34932135  170312
Illinois      23444123  149995

### Из двумерного массива NumPy

In [38]:
pd.DataFrame(np.random.rand(3, 2),
            columns=['foo', 'bar'],
            index=['a', 'b', 'c'])

        foo       bar
a  0.456878  0.151361
b  0.647737  0.820293
c  0.830456  0.927848

### Из структурированного массива NumPy

In [39]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [40]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0